<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DPCategories</key>
	<data>
	YnBsaXN0MDDUAQIDBAUI5+hUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABrxA2CQofKywyOTo+RUZJUFFUW1xfZmdqcXJ1fH2Ah4iLkpOWnZ6hqKms
	s7S3vr/CycrN1NXY3+DjVSRudWxs0gsMDQ5WJGNsYXNzWk5TLm9iamVjdHOANa8QEA8Q
	ERITFBUWFxgZGhscHR6AAoAIgAuADoARgBSAF4AagB2AIIAjgCaAKYAsgC+AMtYgISIj
	CyQlJicoKSpfEBdBbm5vdGF0aW9uQ2F0ZWdvcnlDb2xvcl8QFkFubm90YXRpb25DYXRl
	Z29yeU5hbWVfEB9Bbm5vdGF0aW9uQ2F0ZWdvcnlLZXlFcXVpdmFsZW50XxAbQW5ub3Rh
	dGlvbkNhdGVnb3J5VGVtcG9yYXJ5XxAYQW5ub3RhdGlvbkNhdGVnb3J5VmFsdWVzgASA
	A4AGCIAHgABcTG9hZGluZyBkYXRh0y0uCy8wMVxOU0NvbG9yU3BhY2VVTlNSR0IQAUYw
	IDAgMQCABdIzNDU4WCRjbGFzc2VzWiRjbGFzc25hbWWiNjdXTlNDb2xvclhOU09iamVj
	dFdOU0NvbG9yUNIzNDs9ojw3XxASQW5ub3RhdGlvbkNhdGVnb3J5XxASQW5ub3RhdGlv
	bkNhdGVnb3J51iAhIiMLJD9AJygpKoAKgAmABgiAB4AAXxAdUHJlc2VudGF0aW9uIG1h
	cHBpbmcgY3JlYXRpb27TLS4LL0cxTxAeMSAwLjYxODk1MjM5MzUgMC4wMDE5MzQxNzA3
	MjMAgAXWICEiIwskSksnKCkqgA2ADIAGCIAHgABfEBtWZXJpZnlpbmcgdGhlIHZpc3Vh
	bGl6YXRpb27TLS4LL1IxTxARMSAwLjkyMDU4MDA4OTEgMACABdYgISIjCyRVVicoKSqA
	EIAPgAYIgAeAAF5UcmFuc2Zvcm0gZGF0YdMtLgsvXTFPEBEwLjM1MTQxNzU0MTUgMCAx
	AIAF1iAhIiMLJGBhJygpKoATgBKABgiAB4AAXxAXVmlzdWFsIE1hcHBpbmcgY3JlYXRp
	b27TLS4LL2gxRjAgMSAwAIAF1iAhIiMLJGtsJygpKoAWgBWABgiAB4AAXxAbVmlzdWFs
	IG1hcHBpbmcgbW9kaWZpY2F0aW9u0y0uCy9zMU8QHTAgMC43MDkxNjE5MzcyIDAuMDk4
	MjU1NDMzMTQAgAXWICEiIwskdncnKCkqgBmAGIAGCIAHgABfECZQcmVzZW50YXRpb24g
	bWFwcGluZyBjcmVhdGlvbi1JbXBvcnRlZNMtLgsvfjFPEB4xIDAuNjE4OTUyMzkzNSAw
	LjAwMTkzNDE3MDcyMwCABdYgISIjCySBgicoKSqAHIAbgAYIgAeAAF8QIVByZXNlbnRh
	dGlvbiBtYXBwaW5nIG1vZGlmaWNhdGlvbtMtLgsviTFPEBExIDAuMTQ4NTgyMTAwOSAw
	AIAF1iAhIiMLJIyNJygpKoAfgB6ABgiAB4AAXxASRXhwbG9yaW5nIHRoZSB0b29s0y0u
	Cy+UMU8QETEgMCAwLjgxNTMwMzgwMjUAgAXWICEiIwskl5gnKCkqgCKAIYAGCIAHgABf
	ECRWZXJpZnlpbmcgdGhlIHZpc3VhbGl6YXRpb24tSW1wb3J0ZWTTLS4LL58xTxARMSAw
	LjkyMDU4MDA4OTEgMACABdYgISIjCySioycoKSqAJYAkgAYIgAeAAFxBc2sgZm9yIGhl
	bHDTLS4LL6oxTxAnMC40ODcwMTg2NDQ4IDAuMTc3MzE5NzUwMiAwLjA4MzI4MTE0NDUA
	gAXWICEiIwskra4nKCkqgCiAJ4AGCIAHgABfEBZIZWxwIGZyb20gdGhlIG9wZXJhdG9y
	0y0uCy+1MU8QJjAuNDE0NDk2NTQxIDAuMzk4NjczNTY0MiAwLjQxMzM0ODUyNTgAgAXW
	ICEiIwskuLknKCkqgCuAKoAGCIAHgABbSW50ZXJ1cHRpb27TLS4LL8AxRjAgMCAwAIAF
	1iAhIiMLJMPEJygpKoAugC2ABgiAB4AAXlNlbGVjdGluZyBkYXRh0y0uCy/LMU8QHDAu
	OTU5OTkxNTc0MyAxIDAuOTgxMjE3MTQ1OQCABdYgISIjCyTOzycoKSqAMYAwgAYIgAeA
	AF8QEk1hbmlwdWxhdGlvbiBFcnJvctMtLgsv1jFPECowLjYyMTE5MjM5NTcgMC41NzY2
	MzUwNjI3IDAuMDAwNTg1ODI0NjAwNACABdYgISIjCyTZ2icoKSqANIAzgAYIgAeAAF8Q
	Gkluc3RydWN0aW9ucyBmcm9tIE9wZXJhdG9y0y0uCy/hMU8QJzAuMzE2MDc0ODQ4MiAw
	Ljg0MjY0NTE2ODMgMC44MTY0MTkyNDM4AIAF0jM05OWj5eY3Xk5TTXV0YWJsZUFycmF5
	V05TQXJyYXkSAAGGoF8QD05TS2V5ZWRBcmNoaXZlcgAIABEAFgAfACgAMgA1ADoAPAB1
	AHsAgACHAJIAlACnAKkAqwCtAK8AsQCzALUAtwC5ALsAvQC/AMEAwwDFAMcA1ADuAQcB
	KQFHAWIBZAFmAWgBaQFrAW0BegGBAY4BlAGWAZ0BnwGkAa0BuAG7AcMBzAHUAdUB2gHd
	AfICBwIUAhYCGAIaAhsCHQIfAj8CRgJnAmkCdgJ4AnoCfAJ9An8CgQKfAqYCugK8AskC
	ywLNAs8C0ALSAtQC4wLqAv4DAAMNAw8DEQMTAxQDFgMYAzIDOQNAA0IDTwNRA1MDVQNW
	A1gDWgN4A38DnwOhA64DsAOyA7QDtQO3A7kD4gPpBAoEDAQZBBsEHQQfBCAEIgQkBEgE
	TwRjBGUEcgR0BHYEeAR5BHsEfQSSBJkErQSvBLwEvgTABMIEwwTFBMcE7gT1BQkFCwUY
	BRoFHAUeBR8FIQUjBTAFNwVhBWMFcAVyBXQFdgV3BXkFewWUBZsFxAXGBdMF1QXXBdkF
	2gXcBd4F6gXxBfgF+gYHBgkGCwYNBg4GEAYSBiEGKAZHBkkGVgZYBloGXAZdBl8GYQZ2
	Bn0GqgasBrkGuwa9Br8GwAbCBsQG4QboBxIHFAcZBx0HLAc0BzkAAAAAAAACAQAAAAAA
	AADpAAAAAAAAAAAAAAAAAAAHSw==
	</data>
	<key>DPChronoVizVersion</key>
	<string>3.4.7</string>
	<key>DPDocumentFormatVersion</key>
	<integer>1</integer>
	<key>DPKeywords</key>
	<array/>
	<key>DPSavedLayouts</key>
	<dict/>
	<key>SavedLocation</key>
	<string>/Users/JPayne/Desktop/P2 - Tiles.annotation</string>
</dict>
</plist>
