<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DPCategories</key>
	<data>
	YnBsaXN0MDDUAQIDBAUIq6xUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABrxAnCQoaJictNDU5QEFES0xPVldaYWJlbG1wd3h7goOGjY6RmJmco6Sn
	VSRudWxs0gsMDQ5WJGNsYXNzWk5TLm9iamVjdHOAJqsPEBESExQVFhcYGYACgAiAC4AO
	gBGAFIAXgBqAHYAggCPWGxwdHgsfICEiIyQlXxAXQW5ub3RhdGlvbkNhdGVnb3J5Q29s
	b3JfEBZBbm5vdGF0aW9uQ2F0ZWdvcnlOYW1lXxAfQW5ub3RhdGlvbkNhdGVnb3J5S2V5
	RXF1aXZhbGVudF8QG0Fubm90YXRpb25DYXRlZ29yeVRlbXBvcmFyeV8QGEFubm90YXRp
	b25DYXRlZ29yeVZhbHVlc4AEgAOABgiAB4AAXExvYWRpbmcgZGF0YdMoKQsqKyxcTlND
	b2xvclNwYWNlVU5TUkdCEAFGMCAwIDEAgAXSLi8wM1gkY2xhc3Nlc1okY2xhc3NuYW1l
	ojEyV05TQ29sb3JYTlNPYmplY3RXTlNDb2xvclDSLi82OKI3Ml8QEkFubm90YXRpb25D
	YXRlZ29yeV8QEkFubm90YXRpb25DYXRlZ29yedYbHB0eCx86OyIjJCWACoAJgAYIgAeA
	AF5UcmFuc2Zvcm0gZGF0YdMoKQsqQixPEBEwLjM1MTQxNzU0MTUgMCAxAIAF1hscHR4L
	H0VGIiMkJYANgAyABgiAB4AAXxAXVmlzdWFsIE1hcHBpbmcgY3JlYXRpb27TKCkLKk0s
	RjAgMSAwAIAF1hscHR4LH1BRIiMkJYAQgA+ABgiAB4AAXxAbVmlzdWFsIG1hcHBpbmcg
	bW9kaWZpY2F0aW9u0ygpCypYLE8QHTAgMC43MDkxNjE5MzcyIDAuMDk4MjU1NDMzMTQA
	gAXWGxwdHgsfW1wiIyQlgBOAEoAGCIAHgABfEB1QcmVzZW50YXRpb24gbWFwcGluZyBj
	cmVhdGlvbtMoKQsqYyxPEB4xIDAuNjE4OTUyMzkzNSAwLjAwMTkzNDE3MDcyMwCABdYb
	HB0eCx9mZyIjJCWAFoAVgAYIgAeAAF8QIVByZXNlbnRhdGlvbiBtYXBwaW5nIG1vZGlm
	aWNhdGlvbtMoKQsqbixPEBExIDAuMTQ4NTgyMTAwOSAwAIAF1hscHR4LH3FyIiMkJYAZ
	gBiABgiAB4AAXxASRXhwbG9yaW5nIHRoZSB0b29s0ygpCyp5LE8QETEgMCAwLjgxNTMw
	MzgwMjUAgAXWGxwdHgsffH0iIyQlgByAG4AGCIAHgABfEBtWZXJpZnlpbmcgdGhlIHZp
	c3VhbGl6YXRpb27TKCkLKoQsTxARMSAwLjkyMDU4MDA4OTEgMACABdYbHB0eCx+HiCIj
	JCWAH4AegAYIgAeAAFxBc2sgZm9yIGhlbHDTKCkLKo8sTxAnMC40ODcwMTg2NDQ4IDAu
	MTc3MzE5NzUwMiAwLjA4MzI4MTE0NDUAgAXWGxwdHgsfkpMiIyQlgCKAIYAGCIAHgABf
	EBZIZWxwIGZyb20gdGhlIG9wZXJhdG9y0ygpCyqaLE8QJjAuNDE0NDk2NTQxIDAuMzk4
	NjczNTY0MiAwLjQxMzM0ODUyNTgAgAXWGxwdHgsfnZ4iIyQlgCWAJIAGCIAHgABbSW50
	ZXJ1cHRpb27TKCkLKqUsRjAgMCAwAIAF0i4vqKmjqaoyXk5TTXV0YWJsZUFycmF5V05T
	QXJyYXkSAAGGoF8QD05TS2V5ZWRBcmNoaXZlcgAIABEAFgAfACgAMgA1ADoAPABmAGwA
	cQB4AIMAhQCRAJMAlQCXAJkAmwCdAJ8AoQCjAKUApwC0AM4A5wEJAScBQgFEAUYBSAFJ
	AUsBTQFaAWEBbgF0AXYBfQF/AYQBjQGYAZsBowGsAbQBtQG6Ab0B0gHnAfQB9gH4AfoB
	+wH9Af8CDgIVAikCKwI4AjoCPAI+Aj8CQQJDAl0CZAJrAm0CegJ8An4CgAKBAoMChQKj
	AqoCygLMAtkC2wLdAt8C4ALiAuQDBAMLAywDLgM7Az0DPwNBA0IDRANGA2oDcQOFA4cD
	lAOWA5gDmgObA50DnwO0A7sDzwPRA94D4APiA+QD5QPnA+kEBwQOBCIEJAQxBDMENQQ3
	BDgEOgQ8BEkEUAR6BHwEiQSLBI0EjwSQBJIElAStBLQE3QTfBOwE7gTwBPIE8wT1BPcF
	AwUKBREFEwUYBRwFKwUzBTgAAAAAAAACAQAAAAAAAACtAAAAAAAAAAAAAAAAAAAFSg==
	</data>
	<key>DPChronoVizVersion</key>
	<string>3.4.7</string>
	<key>DPDocumentFormatVersion</key>
	<integer>1</integer>
	<key>DPKeywords</key>
	<array>
		<string>align</string>
	</array>
	<key>DPSavedLayouts</key>
	<dict/>
	<key>SavedLocation</key>
	<string>/Users/SamuelHuron/Google Drive/__00 Tiles Study 2015/Coding/p7-tiles-annotations-in process.annotation</string>
</dict>
</plist>
