<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DPCategories</key>
	<data>
	YnBsaXN0MDDUAQIDBAUIY2RUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABrxAVCQoUICEnLi8zOjs+RUZJUFFUW1xfVSRudWxs0gsMDQ5WJGNsYXNz
	Wk5TLm9iamVjdHOAFKUPEBESE4ACgAiAC4AOgBHWFRYXGAsZGhscHR4fXxAXQW5ub3Rh
	dGlvbkNhdGVnb3J5Q29sb3JfEBZBbm5vdGF0aW9uQ2F0ZWdvcnlOYW1lXxAfQW5ub3Rh
	dGlvbkNhdGVnb3J5S2V5RXF1aXZhbGVudF8QG0Fubm90YXRpb25DYXRlZ29yeVRlbXBv
	cmFyeV8QGEFubm90YXRpb25DYXRlZ29yeVZhbHVlc4AEgAOABgiAB4AAWkNhdGVnb3J5
	IDHTIiMLJCUmXE5TQ29sb3JTcGFjZVVOU1JHQhABRjAgMCAxAIAF0igpKi1YJGNsYXNz
	ZXNaJGNsYXNzbmFtZaIrLFdOU0NvbG9yWE5TT2JqZWN0V05TQ29sb3JQ0igpMDKiMSxf
	EBJBbm5vdGF0aW9uQ2F0ZWdvcnlfEBJBbm5vdGF0aW9uQ2F0ZWdvcnnWFRYXGAsZNDUc
	HR4fgAqACYAGCIAHgABaQ2F0ZWdvcnkgMtMiIwskPCZGMSAwIDAAgAXWFRYXGAsZP0Ac
	HR4fgA2ADIAGCIAHgABaQ2F0ZWdvcnkgM9MiIwskRyZGMCAxIDAAgAXWFRYXGAsZSksc
	HR4fgBCAD4AGCIAHgABaQ2F0ZWdvcnkgNNMiIwskUiZIMSAwLjUgMACABdYVFhcYCxlV
	VhwdHh+AE4ASgAYIgAeAAFpDYXRlZ29yeSA10yIjCyRdJkYxIDEgMACABdIoKWBho2Fi
	LF5OU011dGFibGVBcnJheVdOU0FycmF5EgABhqBfEA9OU0tleWVkQXJjaGl2ZXIACAAR
	ABYAHwAoADIANQA6ADwAVABaAF8AZgBxAHMAeQB7AH0AfwCBAIMAkACqAMMA5QEDAR4B
	IAEiASQBJQEnASkBNAE7AUgBTgFQAVcBWQFeAWcBcgF1AX0BhgGOAY8BlAGXAawBwQHO
	AdAB0gHUAdUB1wHZAeQB6wHyAfQCAQIDAgUCBwIIAgoCDAIXAh4CJQInAjQCNgI4AjoC
	OwI9Aj8CSgJRAloCXAJpAmsCbQJvAnACcgJ0An8ChgKNAo8ClAKYAqcCrwK0AAAAAAAA
	AgEAAAAAAAAAZQAAAAAAAAAAAAAAAAAAAsY=
	</data>
	<key>DPChronoVizVersion</key>
	<string>3.4.7</string>
	<key>DPDocumentFormatVersion</key>
	<integer>1</integer>
	<key>DPKeywords</key>
	<array/>
	<key>DPSavedLayouts</key>
	<dict/>
	<key>SavedLocation</key>
	<string>/Users/JPayne/Google Drive/__00 Tiles Study 2015/Coding/p9-excel-annotations-LAST.annotation</string>
</dict>
</plist>
