<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DPCategories</key>
	<data>
	YnBsaXN0MDDUAQIDBAUIw8RUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABrxAtCQocKCkvNjc7QkNGTU5RWFlcY2Rnbm9yeXp9hIWIj5CTmpuepaap
	sLG0u7y/VSRudWxs0gsMDQ5WJGNsYXNzWk5TLm9iamVjdHOALK0PEBESExQVFhcYGRob
	gAKACIALgA6AEYAUgBeAGoAdgCCAI4AmgCnWHR4fIAshIiMkJSYnXxAXQW5ub3RhdGlv
	bkNhdGVnb3J5Q29sb3JfEBZBbm5vdGF0aW9uQ2F0ZWdvcnlOYW1lXxAfQW5ub3RhdGlv
	bkNhdGVnb3J5S2V5RXF1aXZhbGVudF8QG0Fubm90YXRpb25DYXRlZ29yeVRlbXBvcmFy
	eV8QGEFubm90YXRpb25DYXRlZ29yeVZhbHVlc4AEgAOABgiAB4AAXExvYWRpbmcgZGF0
	YdMqKwssLS5cTlNDb2xvclNwYWNlVU5TUkdCEAFGMCAwIDEAgAXSMDEyNVgkY2xhc3Nl
	c1okY2xhc3NuYW1lojM0V05TQ29sb3JYTlNPYmplY3RXTlNDb2xvclDSMDE4OqI5NF8Q
	EkFubm90YXRpb25DYXRlZ29yeV8QEkFubm90YXRpb25DYXRlZ29yedYdHh8gCyE8PSQl
	JieACoAJgAYIgAeAAF5UcmFuc2Zvcm0gZGF0YdMqKwssRC5PEBEwLjM1MTQxNzU0MTUg
	MCAxAIAF1h0eHyALIUdIJCUmJ4ANgAyABgiAB4AAXxAXVmlzdWFsIE1hcHBpbmcgY3Jl
	YXRpb27TKisLLE8uRjAgMSAwAIAF1h0eHyALIVJTJCUmJ4AQgA+ABgiAB4AAXxAbVmlz
	dWFsIG1hcHBpbmcgbW9kaWZpY2F0aW9u0yorCyxaLk8QHTAgMC43MDkxNjE5MzcyIDAu
	MDk4MjU1NDMzMTQAgAXWHR4fIAshXV4kJSYngBOAEoAGCIAHgABfEB1QcmVzZW50YXRp
	b24gbWFwcGluZyBjcmVhdGlvbtMqKwssZS5PEB4xIDAuNjE4OTUyMzkzNSAwLjAwMTkz
	NDE3MDcyMwCABdYdHh8gCyFoaSQlJieAFoAVgAYIgAeAAF8QIVByZXNlbnRhdGlvbiBt
	YXBwaW5nIG1vZGlmaWNhdGlvbtMqKwsscC5PEBExIDAuMTQ4NTgyMTAwOSAwAIAF1h0e
	HyALIXN0JCUmJ4AZgBiABgiAB4AAXxASRXhwbG9yaW5nIHRoZSB0b29s0yorCyx7Lk8Q
	ETEgMCAwLjgxNTMwMzgwMjUAgAXWHR4fIAshfn8kJSYngByAG4AGCIAHgABfEBtWZXJp
	ZnlpbmcgdGhlIHZpc3VhbGl6YXRpb27TKisLLIYuTxARMSAwLjkyMDU4MDA4OTEgMACA
	BdYdHh8gCyGJiiQlJieAH4AegAYIgAeAAFxBc2sgZm9yIGhlbHDTKisLLJEuTxAnMC40
	ODcwMTg2NDQ4IDAuMTc3MzE5NzUwMiAwLjA4MzI4MTE0NDUAgAXWHR4fIAshlJUkJSYn
	gCKAIYAGCIAHgABfEBZIZWxwIGZyb20gdGhlIG9wZXJhdG9y0yorCyycLk8QJjAuNDE0
	NDk2NTQxIDAuMzk4NjczNTY0MiAwLjQxMzM0ODUyNTgAgAXWHR4fIAshn6AkJSYngCWA
	JIAGCIAHgABbSW50ZXJ1cHRpb27TKisLLKcuRjAgMCAwAIAF1h0eHyALIaqrJCUmJ4Ao
	gCeABgiAB4AAXlNlbGVjdGluZyBkYXRh0yorCyyyLk8QHDAuOTU5OTkxNTc0MyAxIDAu
	OTgxMjE3MTQ1OQCABdYdHh8gCyG1tiQlJieAK4AqgAYIgAeAAF8QEk1hbmlwdWxhdGlv
	biBFcnJvctMqKwssvS5PECowLjYyMTE5MjM5NTcgMC41NzY2MzUwNjI3IDAuMDAwNTg1
	ODI0NjAwNACABdIwMcDBo8HCNF5OU011dGFibGVBcnJheVdOU0FycmF5EgABhqBfEA9O
	U0tleWVkQXJjaGl2ZXIACAARABYAHwAoADIANQA6ADwAbAByAHcAfgCJAIsAmQCbAJ0A
	nwChAKMApQCnAKkAqwCtAK8AsQCzAMAA2gDzARUBMwFOAVABUgFUAVUBVwFZAWYBbQF6
	AYABggGJAYsBkAGZAaQBpwGvAbgBwAHBAcYByQHeAfMCAAICAgQCBgIHAgkCCwIaAiEC
	NQI3AkQCRgJIAkoCSwJNAk8CaQJwAncCeQKGAogCigKMAo0CjwKRAq8CtgLWAtgC5QLn
	AukC6wLsAu4C8AMQAxcDOAM6A0cDSQNLA00DTgNQA1IDdgN9A5EDkwOgA6IDpAOmA6cD
	qQOrA8ADxwPbA90D6gPsA+4D8APxA/MD9QQTBBoELgQwBD0EPwRBBEMERARGBEgEVQRc
	BIYEiASVBJcEmQSbBJwEngSgBLkEwATpBOsE+AT6BPwE/gT/BQEFAwUPBRYFHQUfBSwF
	LgUwBTIFMwU1BTcFRgVNBWwFbgV7BX0FfwWBBYIFhAWGBZsFogXPBdEF1gXaBekF8QX2
	AAAAAAAAAgEAAAAAAAAAxQAAAAAAAAAAAAAAAAAABgg=
	</data>
	<key>DPChronoVizVersion</key>
	<string>3.4.7</string>
	<key>DPDocumentFormatVersion</key>
	<integer>1</integer>
	<key>DPKeywords</key>
	<array/>
	<key>DPSavedLayouts</key>
	<dict/>
	<key>SavedLocation</key>
	<string>/Users/tiffany/Dropbox/www/ConstructiveVis/ConstructiveVisReading2015/Annotations/p17 annotations.annotation</string>
</dict>
</plist>
