<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DPCategories</key>
	<data>
	YnBsaXN0MDDUAQIDBAUI2ttUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABrxAyCQoeKisxODk9REVIT1BTWlteZWZpcHF0e3x/hoeKkZKVnJ2gp6ir
	srO2vb7ByMnO1dZVJG51bGzSCwwNDlYkY2xhc3NaTlMub2JqZWN0c4AxrxAPDxAREhMU
	FRYXGBkaGxwdgAKACIALgA6AEYAUgBeAGoAdgCCAI4AmgCmALIAv1h8gISILIyQlJico
	KV8QF0Fubm90YXRpb25DYXRlZ29yeUNvbG9yXxAWQW5ub3RhdGlvbkNhdGVnb3J5TmFt
	ZV8QH0Fubm90YXRpb25DYXRlZ29yeUtleUVxdWl2YWxlbnRfEBtBbm5vdGF0aW9uQ2F0
	ZWdvcnlUZW1wb3JhcnlfEBhBbm5vdGF0aW9uQ2F0ZWdvcnlWYWx1ZXOABIADgAYIgAeA
	AFxMb2FkaW5nIGRhdGHTLC0LLi8wXE5TQ29sb3JTcGFjZVVOU1JHQhABRjAgMCAxAIAF
	0jIzNDdYJGNsYXNzZXNaJGNsYXNzbmFtZaI1NldOU0NvbG9yWE5TT2JqZWN0V05TQ29s
	b3JQ0jIzOjyiOzZfEBJBbm5vdGF0aW9uQ2F0ZWdvcnlfEBJBbm5vdGF0aW9uQ2F0ZWdv
	cnnWHyAhIgsjPj8mJygpgAqACYAGCIAHgABeVHJhbnNmb3JtIGRhdGHTLC0LLkYwTxAR
	MC4zNTE0MTc1NDE1IDAgMQCABdYfICEiCyNJSiYnKCmADYAMgAYIgAeAAF8QF1Zpc3Vh
	bCBNYXBwaW5nIGNyZWF0aW9u0ywtCy5RMEYwIDEgMACABdYfICEiCyNUVSYnKCmAEIAP
	gAYIgAeAAF8QG1Zpc3VhbCBtYXBwaW5nIG1vZGlmaWNhdGlvbtMsLQsuXDBPEB0wIDAu
	NzA5MTYxOTM3MiAwLjA5ODI1NTQzMzE0AIAF1h8gISILI19gJicoKYATgBKABgiAB4AA
	XxAdUHJlc2VudGF0aW9uIG1hcHBpbmcgY3JlYXRpb27TLC0LLmcwTxAeMSAwLjYxODk1
	MjM5MzUgMC4wMDE5MzQxNzA3MjMAgAXWHyAhIgsjamsmJygpgBaAFYAGCIAHgABfECFQ
	cmVzZW50YXRpb24gbWFwcGluZyBtb2RpZmljYXRpb27TLC0LLnIwTxARMSAwLjE0ODU4
	MjEwMDkgMACABdYfICEiCyN1diYnKCmAGYAYgAYIgAeAAF8QEkV4cGxvcmluZyB0aGUg
	dG9vbNMsLQsufTBPEBExIDAgMC44MTUzMDM4MDI1AIAF1h8gISILI4CBJicoKYAcgBuA
	BgiAB4AAXxAbVmVyaWZ5aW5nIHRoZSB2aXN1YWxpemF0aW9u0ywtCy6IME8QETEgMC45
	MjA1ODAwODkxIDAAgAXWHyAhIgsji4wmJygpgB+AHoAGCIAHgABcQXNrIGZvciBoZWxw
	0ywtCy6TME8QJzAuNDg3MDE4NjQ0OCAwLjE3NzMxOTc1MDIgMC4wODMyODExNDQ1AIAF
	1h8gISILI5aXJicoKYAigCGABgiAB4AAXxAWSGVscCBmcm9tIHRoZSBvcGVyYXRvctMs
	LQsunjBPECYwLjQxNDQ5NjU0MSAwLjM5ODY3MzU2NDIgMC40MTMzNDg1MjU4AIAF1h8g
	ISILI6GiJicoKYAlgCSABgiAB4AAW0ludGVydXB0aW9u0ywtCy6pMEYwIDAgMACABdYf
	ICEiCyOsrSYnKCmAKIAngAYIgAeAAF5TZWxlY3RpbmcgZGF0YdMsLQsutDBPEBwwLjk1
	OTk5MTU3NDMgMSAwLjk4MTIxNzE0NTkAgAXWHyAhIgsjt7gmJygpgCuAKoAGCIAHgABf
	EBJNYW5pcHVsYXRpb24gRXJyb3LTLC0LLr8wTxAqMC42MjExOTIzOTU3IDAuNTc2NjM1
	MDYyNyAwLjAwMDU4NTgyNDYwMDQAgAXWHyAhIgsjwsMmJygpgC6ALYAGCIAHgABaY2F0
	ZWdvcmllc9MsC8rLMM1XTlNXaGl0ZRADgAVCMQDWHyAhIgsjwtAmJygpgC6AMIAGCIAH
	gABaQ2F0ZWdvcnkgMdIyM9fYo9jZNl5OU011dGFibGVBcnJheVdOU0FycmF5EgABhqBf
	EA9OU0tleWVkQXJjaGl2ZXIACAARABYAHwAoADIANQA6ADwAcQB3AHwAgwCOAJAAogCk
	AKYAqACqAKwArgCwALIAtAC2ALgAugC8AL4AwADNAOcBAAEiAUABWwFdAV8BYQFiAWQB
	ZgFzAXoBhwGNAY8BlgGYAZ0BpgGxAbQBvAHFAc0BzgHTAdYB6wIAAg0CDwIRAhMCFAIW
	AhgCJwIuAkICRAJRAlMCVQJXAlgCWgJcAnYCfQKEAoYCkwKVApcCmQKaApwCngK8AsMC
	4wLlAvIC9AL2AvgC+QL7Av0DHQMkA0UDRwNUA1YDWANaA1sDXQNfA4MDigOeA6ADrQOv
	A7EDswO0A7YDuAPNA9QD6APqA/cD+QP7A/0D/gQABAIEIAQnBDsEPQRKBEwETgRQBFEE
	UwRVBGIEaQSTBJUEogSkBKYEqASpBKsErQTGBM0E9gT4BQUFBwUJBQsFDAUOBRAFHAUj
	BSoFLAU5BTsFPQU/BUAFQgVEBVMFWgV5BXsFiAWKBYwFjgWPBZEFkwWoBa8F3AXeBesF
	7QXvBfEF8gX0BfYGAQYIBhAGEgYUBhcGJAYmBigGKgYrBi0GLwY6Bj8GQwZSBloGXwAA
	AAAAAAIBAAAAAAAAANwAAAAAAAAAAAAAAAAAAAZx
	</data>
	<key>DPChronoVizVersion</key>
	<string>3.4.7</string>
	<key>DPDocumentFormatVersion</key>
	<integer>1</integer>
	<key>DPKeywords</key>
	<array/>
	<key>DPSavedLayouts</key>
	<dict/>
	<key>SavedLocation</key>
	<string>/Users/tiffany/Dropbox/www/ConstructiveVis/ConstructiveVisReading2015/Annotations/p13 tiles.annotation</string>
</dict>
</plist>
