<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DPCategories</key>
	<data>
	YnBsaXN0MDDUAQIDBAUIz9BUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABrxAwCQodKSowNzg8Q0RHTk9SWVpdZGVob3Bzent+hYaJkJGUm5yfpqeq
	sbK1vL3Ax8jLVSRudWxs0gsMDQ5WJGNsYXNzWk5TLm9iamVjdHOAL64PEBESExQVFhcY
	GRobHIACgAiAC4AOgBGAFIAXgBqAHYAggCOAJoApgCzWHh8gIQsiIyQlJicoXxAXQW5u
	b3RhdGlvbkNhdGVnb3J5Q29sb3JfEBZBbm5vdGF0aW9uQ2F0ZWdvcnlOYW1lXxAfQW5u
	b3RhdGlvbkNhdGVnb3J5S2V5RXF1aXZhbGVudF8QG0Fubm90YXRpb25DYXRlZ29yeVRl
	bXBvcmFyeV8QGEFubm90YXRpb25DYXRlZ29yeVZhbHVlc4AEgAOABgiAB4AAXExvYWRp
	bmcgZGF0YdMrLAstLi9cTlNDb2xvclNwYWNlVU5TUkdCEAFGMCAwIDEAgAXSMTIzNlgk
	Y2xhc3Nlc1okY2xhc3NuYW1lojQ1V05TQ29sb3JYTlNPYmplY3RXTlNDb2xvclDSMTI5
	O6I6NV8QEkFubm90YXRpb25DYXRlZ29yeV8QEkFubm90YXRpb25DYXRlZ29yedYeHyAh
	CyI9PiUmJyiACoAJgAYIgAeAAF5UcmFuc2Zvcm0gZGF0YdMrLAstRS9PEBEwLjM1MTQx
	NzU0MTUgMCAxAIAF1h4fICELIkhJJSYnKIANgAyABgiAB4AAXxAXVmlzdWFsIE1hcHBp
	bmcgY3JlYXRpb27TKywLLVAvRjAgMSAwAIAF1h4fICELIlNUJSYnKIAQgA+ABgiAB4AA
	XxAbVmlzdWFsIG1hcHBpbmcgbW9kaWZpY2F0aW9u0yssCy1bL08QHTAgMC43MDkxNjE5
	MzcyIDAuMDk4MjU1NDMzMTQAgAXWHh8gIQsiXl8lJicogBOAEoAGCIAHgABfEB1QcmVz
	ZW50YXRpb24gbWFwcGluZyBjcmVhdGlvbtMrLAstZi9PEB4xIDAuNjE4OTUyMzkzNSAw
	LjAwMTkzNDE3MDcyMwCABdYeHyAhCyJpaiUmJyiAFoAVgAYIgAeAAF8QIVByZXNlbnRh
	dGlvbiBtYXBwaW5nIG1vZGlmaWNhdGlvbtMrLAstcS9PEBExIDAuMTQ4NTgyMTAwOSAw
	AIAF1h4fICELInR1JSYnKIAZgBiABgiAB4AAXxASRXhwbG9yaW5nIHRoZSB0b29s0yss
	Cy18L08QETEgMCAwLjgxNTMwMzgwMjUAgAXWHh8gIQsif4AlJicogByAG4AGCIAHgABf
	EBtWZXJpZnlpbmcgdGhlIHZpc3VhbGl6YXRpb27TKywLLYcvTxARMSAwLjkyMDU4MDA4
	OTEgMACABdYeHyAhCyKKiyUmJyiAH4AegAYIgAeAAFxBc2sgZm9yIGhlbHDTKywLLZIv
	TxAnMC40ODcwMTg2NDQ4IDAuMTc3MzE5NzUwMiAwLjA4MzI4MTE0NDUAgAXWHh8gIQsi
	lZYlJicogCKAIYAGCIAHgABfEBZIZWxwIGZyb20gdGhlIG9wZXJhdG9y0yssCy2dL08Q
	JjAuNDE0NDk2NTQxIDAuMzk4NjczNTY0MiAwLjQxMzM0ODUyNTgAgAXWHh8gIQsioKEl
	JicogCWAJIAGCIAHgABbSW50ZXJ1cHRpb27TKywLLagvRjAgMCAwAIAF1h4fICELIqus
	JSYnKIAogCeABgiAB4AAXlNlbGVjdGluZyBkYXRh0yssCy2zL08QHDAuOTU5OTkxNTc0
	MyAxIDAuOTgxMjE3MTQ1OQCABdYeHyAhCyK2tyUmJyiAK4AqgAYIgAeAAF8QEk1hbmlw
	dWxhdGlvbiBFcnJvctMrLAstvi9PECowLjYyMTE5MjM5NTcgMC41NzY2MzUwNjI3IDAu
	MDAwNTg1ODI0NjAwNACABdYeHyAhCyLBwiUmJyiALoAtgAYIgAeAAF8QGkluc3RydWN0
	aW9ucyBmcm9tIE9wZXJhdG9y0yssCy3JL08QJzAuMzE2MDc0ODQ4MiAwLjg0MjY0NTE2
	ODMgMC44MTY0MTkyNDM4AIAF0jEyzM2jzc41Xk5TTXV0YWJsZUFycmF5V05TQXJyYXkS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlcgAIABEAFgAfACgAMgA1ADoAPABvAHUAegCBAIwA
	jgCdAJ8AoQCjAKUApwCpAKsArQCvALEAswC1ALcAuQDGAOAA+QEbATkBVAFWAVgBWgFb
	AV0BXwFsAXMBgAGGAYgBjwGRAZYBnwGqAa0BtQG+AcYBxwHMAc8B5AH5AgYCCAIKAgwC
	DQIPAhECIAInAjsCPQJKAkwCTgJQAlECUwJVAm8CdgJ9An8CjAKOApACkgKTApUClwK1
	ArwC3ALeAusC7QLvAvEC8gL0AvYDFgMdAz4DQANNA08DUQNTA1QDVgNYA3wDgwOXA5kD
	pgOoA6oDrAOtA68DsQPGA80D4QPjA/AD8gP0A/YD9wP5A/sEGQQgBDQENgRDBEUERwRJ
	BEoETAROBFsEYgSMBI4EmwSdBJ8EoQSiBKQEpgS/BMYE7wTxBP4FAAUCBQQFBQUHBQkF
	FQUcBSMFJQUyBTQFNgU4BTkFOwU9BUwFUwVyBXQFgQWDBYUFhwWIBYoFjAWhBagF1QXX
	BeQF5gXoBeoF6wXtBe8GDAYTBj0GPwZEBkgGVwZfBmQAAAAAAAACAQAAAAAAAADRAAAA
	AAAAAAAAAAAAAAAGdg==
	</data>
	<key>DPChronoVizVersion</key>
	<string>3.4.7</string>
	<key>DPDocumentFormatVersion</key>
	<integer>1</integer>
	<key>DPKeywords</key>
	<array/>
	<key>DPSavedLayouts</key>
	<dict/>
	<key>SavedLocation</key>
	<string>/Users/JPayne/Desktop/P1 - Tiles.annotation</string>
</dict>
</plist>
