---
layout: page
---
<div class="post">
  <article>



    {% if page.videos %}
      {% for video in page.videos %}


          {% if video.Title %}
           <!-- {{ video.Title }} --> 
          {% endif %}
          
          <iframe width="300" height="200" src="https://www.youtube.com/embed/{{ video.content }}?si=wKIB5sHfXpp6zka-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      {% endfor %}
    {% endif %}
  </article>
</div>
